.icon {
    display: block;
    /* Other styles here */

    background: url('./png/down2.png');
    .down {
      background: url('./png/down2.png');
    }

    .git {

      background: url('./png/git.png');
    }

    .medium {
      background: url('./png/medium.png');
    }
  }