@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  max-width: 1350px;
  margin: 0px auto;
  padding: 0px 50px;

  box-sizing: border-box; }
  .App main {
    display: flex;
    
    width: 100%;
    box-sizing: border-box;
    height: 100%; }

@media screen and (max-width: 1050px) {
  .App {
    padding: 0px 30px; } }

.Site {
  display: flex;
}

.Site-content {
  flex: 1;
}
