.Blogs {
  margin: 0px auto;
  h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    a {
      color: white;
      &:hover {
        color: rgb(218, 40, 16);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Blogs {
    h1 {
      font-size: 30px;
    }
  }
}