@import '../../fontello/css/pwebsite.css';

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;

  h1 {
    margin: 50px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    color: white;
    span {
      width: 100%;
      &:nth-of-type(1) {
        font-size: 50px;
      }

      &:nth-of-type(2) {
        font-size: 30px;
        font-weight: 300;
      }
    }
  }

  span.apology {
    position: absolute;
    top: 100px;
    right: 200px;
    color: white;
    background: rgb(218, 40, 16);
    padding: 10px;
    font-size: 12px;
  }

  nav {
    ul {
      display: flex;
      padding: 0px;
      margin: 50px 200px 0px;
      li {
        list-style: none;
        a {
          text-decoration: inherit;
          padding: 5px 15px;
          height: 100%;
          color: white;
          width: 100%;
          &.active {
            border-bottom: 4px solid rgb(218, 40, 16);
          }
          
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  header {
    margin-bottom: 0px;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      text-align: center;
    }
    nav {
      width: 100%;
      margin: 0px auto;
      ul {
        justify-content: center;
        margin: 50px 0px 0px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    h1 {
      text-align: center;
    }
    nav {
      width: 350px;
      margin: 0px auto;
      ul {
        flex-wrap: wrap;
        li {
          width: 50%;
          height: 40px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  header {

    nav {
      width: 175px;
      margin: 0px auto;
      ul {
        flex-wrap: wrap;
        li {
          width: 100%;
          height: 40px;
          text-align: center;
        }
      }
    }
  }
}