body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
  box-sizing: border-box; }

#root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.bgOverlay {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.639); }
