/*Reused code from Thomas, I will replace this file
because sorry, it's MIT Licensed */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
  background: rgb(77, 72, 73);

  h1 {
    margin: 10px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    color: white;
    span {
      width: 100%;
      &:nth-of-type(1) {
        font-size: 30px;
      }

      &:nth-of-type(2) {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  span.apology {
    position: absolute;
    top: 100px;
    right: 200px;
    color: white;
    background: #E11246;
    padding: 10px;
    font-size: 12px;
  }

  nav {
    ul {
      display: flex;
      padding: 0px;
      margin: 20px 10px 0px;
      li {
        list-style: none; 
        background: rgb(100, 94, 96); //
        a {
          font-size: 12px;
          text-decoration: inherit;
          padding: 5px 15px;
          height: 100%;
          color: white;
          width: 100%;
          &.active {
            border-bottom: 4px solid rgb(152, 152, 163);
          }
          
        }
      }
    }
  }
}

/*A nice way to make responsive web app*/
@media screen and (max-width: 1050px) {
  header {
    margin-bottom: 0px;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      text-align: center;
    }
    nav {
      width: 100%;
      margin: 0px auto;
      ul {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    h1 {
      text-align: center;
    }
    nav {
      width: 350px;
      margin: 0px auto;
      ul {
        flex-wrap: wrap;
        li {
          width: 50%;
          height: 40px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  header {

    nav {
      width: 175px;
      margin: 0px auto;
      ul {
        flex-wrap: wrap;
        li {
          width: 100%;
          height: 40px;
          text-align: center;
        }
      }
    }
  }
}