.Home {
  background: #363434;
  margin: 0px auto;
  width: 50%;
  position: relative;
 //TODO: Make it thin from the left side 35%, not centered. 
 //Preferably as a card that you can change easily the page.


  .presentation-title {
    margin-left: 20px;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
  }

  .presentation-text {
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      color: white;
    }
  }

  .window-btn-display {
    a {
      text-decoration: none;
      color: rgb(68, 216, 10);
      background-color: rgb(39, 37, 38);
      padding: 10px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      border-radius: 534px;
      transition: .2s;
      margin: 0px 10px 0px 0px;
      &:hover {
        color: rgb(114, 168, 13);
        background-color: white;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .Home {
    .window-btn-display {
      flex-wrap: wrap;
      a {
        margin: 20px 20px 0px 0px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .Home {
    h1 {
      font-size: 45px;
    }
    h4 {
      font-size: 30px;
    }
    .window-btn-display {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      a {
      }
    }
  }
}